@{
  Layout = "_Layout";
}

@model HotelCRM.Models.Property

<h1>Add a new Property</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Stars)
  @Html.TextBoxFor(model => model.Stars)

  @Html.LabelFor(model => model.YearBuilt)
  @Html.TextBoxFor(model => model.YearBuilt)

  @Html.LabelFor(model => model.City)
  @Html.TextBoxFor(model => model.City)

  <input type="submit" value="Add new property" class="btn btn-default" />
}