@{
  Layout = "_Layout";
}

@model HotelCRM.Models.Guest

<h1>Add a new Guest</h1>
<hr>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)

  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)

  @Html.LabelFor(model => model.Hometown)
  @Html.TextBoxFor(model => model.Hometown)

  @Html.LabelFor(model => model.LifetimeNights)
  @Html.TextBoxFor(model => model.LifetimeNights)

  @Html.LabelFor(model => model.VIPTier)
  @Html.TextBoxFor(model => model.VIPTier)

  <input type="submit" value="Add new guest" class="btn btn-default" />
}
