@{
  Layout = "_Layout";
}

@model HotelCRM.Models.Guest

<h1>Guest Details:</h1>
<h3>Name: @Html.DisplayFor(model => model.Name)</h3>
<h3>Hometown: @Html.DisplayFor(model => model.Hometown)</h3>
<h3>Lifetime Nights: @Html.DisplayFor(model => model.LifetimeNights)</h3>
<h3>VIP Tier: @Html.DisplayFor(model => model.VIPTier)</h3>
<h1>Guest Contact Information:</h1>
<h3>Phone: @Html.DisplayFor(model => model.Phone)</h3>
<h3>Email: @Html.DisplayFor(model => model.Email)</h3>

@if(@Model.Rooms.Count == 0)
{
  <h3>This guest has not yet stayed at your property.</h3>
}
else
{
  <h3>Stay History</h3>
  <ul>
  @foreach(var join in Model.Rooms)
  {
    <li>@join.Room.RoomNumber</li>
  }
  </ul>
}

<nav class="navbar navbar-light">  
  <div class="container-fluid" id = "nav-background">  
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><li>@Html.ActionLink("Edit Guest", "Edit", new { id = Model.GuestId })</li>  
      </button>
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><li>@Html.ActionLink("Delete Guest", "Delete", new { id = Model.GuestId })</li>  
      </button>
      <button type="button" class="btn btn-dark">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><li>@Html.ActionLink("Add a room to stay", "AddRoom", new { id = Model.GuestId })</li>  
      </button>    
    </ul>  
  </div>  
</nav>